.forgotpasswordbackground {
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:110px;
    gap:16px;
}


.headingtext {
    text-align:center;
    display:flex;
    flex-direction:column;
    gap:24px;
    width:450px;

}

.checkemail {
    font-weight:300;
    font-size:22px;
    font-family:'Inter';

}



.submit, .verificationcode {
    display:flex;
    flex-direction:column;
    font-size:14px;
    width:450px;


}

.verificationcode {
    font-weight:bold;
    font-size:13px;
    font-family:'Inter';
    gap:10px;
}



.submitbutton{
    height:44px;
    font-size:1em;
    font-family:'Inter';
    font-weight:700;
    cursor:pointer;
    border-radius:3px;
    background-color:rgb(18, 18, 18);
    color:white;
    border:0.0625em solid rgb(18, 18, 18);
}

.bottomtext {
    text-align:center;
    font-size:14px;
    font-weight:100;
    font-family:'Inter';
}


.codetext {
    font-size:16px;
    padding-bottom:16px;
}

.bottomtext {
    font-size:15px;
    font-weight:100;
}

.verificationinput {
    text-align:center;

}

.verificationinputinvalid {
    border:1px solid rgba(187, 4, 4, 0.9);
    border-radius:3px;
    text-align:center;

}

.popup {
    display:flex;
    justify-content:center;
    align-items:center;
    border: 1px solid rgb(226,226,226);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 9px 12px, rgba(0, 0, 0, 0.12) 0px 3px 16px, rgba(0, 0, 0, 0.2) 0px 5px 6px;
    max-width:600px;
    font-family:'Inter';
    font-weight:300;
    font-size:16px;
    height:44px;
    position:fixed;
    bottom:85px;
    padding:0 16px;
}

.codeerror img {
    padding-top:2px;
}
.codeerror {
    color:rgba(187, 4, 4, 0.9);
    font-size: 13px;
    font-weight:500;
    font-family:'Inter';
    display:flex;
    gap:12px;
    height:50px;
}